@charset "UTF-8";

/*폰트*/
body{font-family: 'Noto Sans KR', sans-serif;}

#wrapContent{
    width: 1200px;
    margin: 100px auto 100px;
    overflow: auto;
}
#wrapContent input{
    font-weight: 300;
    font-size: 14px;
}
#wrapContent .first_header{
    font-size: 36px;
    text-align: center;
    margin: 10px 0 ;
}
#wrapContent .second_header{
    margin-top: 5px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #424242;
    text-align: center;
}
#wrapContent h3{
    font-size: 20px;
}
.bibe_resist_formbox{
    position: relative;
}
.bibe_resist_formbox dt,dd{
    float: left;
    font-size: 20px;
}
.bibe_resist_formbox dt{
    height: 30px;
    line-height: 30px;
    width: 60px
}
.bibe_resist_formbox dd input{
    padding: 7px 10px;
}
.wrap_bibe_category{
    position: relative;
    width: 1000px;
    margin: 20px auto 0 auto;
}
.btn_filter{
    display: none;
}
.btn_filter+label{
    border:1px solid #424242;
    padding:8px 12px;
    border-radius:10px;
    cursor: pointer;
    display:inline-block;
    margin:5px 2.5px;
}
.btn_filter:checked+label{
    background: #E65100;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color:#fff;
}
input:focus{
    outline:1px solid #E65100;
}
.wrap_bibe_img_info{
    position: relative;
    width: 1000px;
    margin: 40px auto 20px auto;
    min-height: 300px;
}
.wrap_bibe_img{
    position: absolute;
    width: 320px;
    margin-top: 5px;
}
#bibeImg{
    display: none;
}
.bibe_img dd img{
    width: 238px;
    height: 238px;
    border:1px solid #424242;
    border-radius:5px;
    display:none;
}
#bibeImgToggle img{
    display: none;
}

#bibeImg+label{
    border:1px solid #424242;
    padding:119px 119px;
    border-radius:5px;
    cursor: pointer;
    display:inline-block;
    background-image: url("img/plus.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px 90px;
}
.wrap_bibe_info{
    position: relative;
    left: 320px;
    width: 680px;
    margin-top: 5px;
}
.bibe_info input{
    padding: 4px 10px;
}
.bibe_info h4{
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    width: 60px;
}
.bibe_name{
    width: 680px;
    height: 30px;
    margin-bottom: 20px;
}
.bibe_name input{
    width: 596px;
}
.bibe_percent_brand{
    width: 680px;
    height: 30px;
    margin-bottom: 20px;
}
.bibe_percent input, .bibe_ml input{
    width: 180px;
    margin-right: 20px;
}
.bibe_ml_price{
    width: 680px;
    height: 30px;
    margin-bottom: 20px;
}
.bibe_price input, .bibe_brand input{
    width: 312px;
}
.wrap_ing_add{
    margin-top: 5px;
    padding-bottom: 10px;
    width: 520px;
    border-bottom: 1px solid #424242;
}
.wrap_ing_add::after{
    content: "";
    display: block;
    clear: both;
}
/*칵테일 재료 사진*/
.wrap_ing{
    display: none;
}
.wrap_ing::after{
    content: "";
    display: block;
    clear: both;
}
.wrap_ing_img{
    width: 185px;
    margin-top: 10px;
    float: left;
}
.wrap_ing_img::after{
    content: "";
    display: block;
    clear: both;
}
.ing_img dt{
    width: 40px;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}
.ing_img input{
    display: none;
}
.ing_img dd img{
    width: 118px;
    height: 118px;
    border:1px solid #424242;
    border-radius:5px;
    display:none;
}
.ing_img label{
    border:1px solid #424242;
    padding:59px 59px;
    border-radius:5px;
    cursor: pointer;
    display:block;
    background-image: url("img/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px 90px;
}

/*칵테일 재료명*/
.ing_name_percent{
    margin-top: 10px;
    width: 335px;
    float: left;
}
.ing_name{
    height: 30px;
    margin-bottom: 20px;
}
.ing_name dt,dd{
    float: left;
}
.ing_name dt{
    width: 50px;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}
.ing_name input{
    width: 250px;
}
/*칵테일 비율*/
.ing_percent{
    height: 30px;
    margin-bottom: 20px;
}
.ing_percent dt,dd{
    float: left;
}
.ing_percent dt{
    width: 50px;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}
.ing_percent input{
    width: 200px;
}

/*칵테일 컵*/
.wrap_cocktailcup{
    position: absolute;
    margin-top: 0px;
    right: 0;
    bottom: 0;
    width: 165px;
    height: 144px;
}
.wrap_cocktailcup::after{
    content: "";
    display: block;
    clear: both;
}
.wrap_cocktailcup img{
    right: 5px;
    position: absolute;
    margin-left: 5px;
    width: 155px;
    height: 140px;
}
.wrap_cocktailcup #ing1{
    right: 5px;
    bottom: 26px;
    background-color: red;
}
.wrap_cocktailcup .ing{
    position: absolute;
    bottom: 26px;
    margin-left: 5px;
    width: 155px;
    background-color: blue;
}
/*btn*/
.wrap_bibe_info .btn_add_ing{
    position: absolute;
    margin: auto;
    bottom: -40px;
    right: 300px;
    width: 100px;
    height: 30px;
    background-size: 16px;
    background-color: #fff;
    border: 1px solid #424242;
    border-radius: 2px;
    cursor: pointer;
    z-index: 1;
}
.wrap_bibe_info .btn_add{
    position: absolute;
    bottom: 0px;
    right: -30px;
    width: 30px;
    height: 30px;
    background-image: url("img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.delete{
    outline: none;
    width: 30px;
    height: 30px;
    background-image: url("img/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.wrap_bibe_info .btn_delete_bibe{
    position: absolute;
    bottom: 0px;
    right: -60px;
}
.wrap_bibe_info .btn_delete_ing{
    margin-left: 305px;
}

.wrap_btn{
    position: absolute;
    bottom: 0px;
    right: 100px;
}
.btn_cancle{
    position: absolute;
    bottom: 0px;
    right: 110px;
    border: 1px solid #424242;
    color: #424242;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}
.btn_next{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #dddddd;
    color: #424242;
    border: 1px solid #424242;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}
#bibeEditor {
    margin: 10px auto 0 auto;
    width:800px;
    height:400px;
    display: none;
}
.wrap_bibeEditor{
    margin: auto;
    width: 1000px;
    position: relative;
    padding-bottom: 80px;
    /*top: 200px;*/
}
.btn_editor{
    width: 1000px;
    height: 40px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #424242;
    font-size: 16px;
}
.msg{
    font-size: 14px;
    color: #E65100;
}
.msg.ok{
    color: #2196F3;
}
input:focus.ok{
    outline:1px solid #2196F3;
}
